<?php

if (!class_exists('Fedora\\Autoloader\\Autoload')) {
    require_once ___PATH___.'/autoload.php';
}

\Fedora\Autoloader\Autoload::addClassMap(
    array(
        ___CLASSLIST___
    ),
    __DIR__
);
